# Custome rewrite rules for the item catalog project
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /tupa-revamp/

  # Prevent rewriting for .php files in /actions and its subfolders
  RewriteCond %{REQUEST_URI} ^/tupa-revamp/.*/actions/.*\.php$ [NC]
  RewriteRule .* - [L]

  # If the requested file or directory does not exist
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Route all requests to index.php
  RewriteRule ^(.*)$ index.php [L]
</IfModule>